<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#What-is-Pandas?" data-toc-modified-id="What-is-Pandas?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is Pandas?</a></span><ul class="toc-item"><li><span><a href="#Accessing-Data" data-toc-modified-id="Accessing-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Accessing Data</a></span></li><li><span><a href="#DataFrames-and-Series" data-toc-modified-id="DataFrames-and-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames and Series</a></span></li><li><span><a href="#More-Basic-DataFrame-Attributes-and-Methods" data-toc-modified-id="More-Basic-DataFrame-Attributes-and-Methods-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>More Basic DataFrame Attributes and Methods</a></span><ul class="toc-item"><li><span><a href="#.head()-:-first-5-rows" data-toc-modified-id=".head()-:-first-5-rows-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span><code>.head()</code> : first 5 rows</a></span></li><li><span><a href="#.tail()-:-last-5-rows" data-toc-modified-id=".tail()-:-last-5-rows-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span><code>.tail()</code> : last 5 rows</a></span></li><li><span><a href="#.info()-:-information-about-the-columns,-including-about-nulls-in-those-columns" data-toc-modified-id=".info()-:-information-about-the-columns,-including-about-nulls-in-those-columns-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span><code>.info()</code> : information about the columns, including about nulls in those columns</a></span></li><li><span><a href="#.describe()-:-statistics-about-the-data" data-toc-modified-id=".describe()-:-statistics-about-the-data-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span><code>.describe()</code> : statistics about the data</a></span></li><li><span><a href="#.dtypes-:-data-types-of-each-column" data-toc-modified-id=".dtypes-:-data-types-of-each-column-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span><code>.dtypes</code> : data types of each column</a></span></li><li><span><a href="#.shape-:-number-of-rows-and-columns" data-toc-modified-id=".shape-:-number-of-rows-and-columns-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span><code>.shape</code> : number of rows and columns</a></span></li><li><span><a href="#Statistics" data-toc-modified-id="Statistics-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span>Statistics</a></span></li></ul></li><li><span><a href="#Enough-With-The-Small-Stuff---Bring-On-Real-Data!" data-toc-modified-id="Enough-With-The-Small-Stuff---Bring-On-Real-Data!-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Enough With The Small Stuff - Bring On Real Data!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Any-Observations?" data-toc-modified-id="Any-Observations?-2.4.0.1"><span class="toc-item-num">2.4.0.1&nbsp;&nbsp;</span>Any Observations?</a></span></li></ul></li></ul></li><li><span><a href="#Adding-to-a-DataFrame" data-toc-modified-id="Adding-to-a-DataFrame-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Adding to a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Adding-Rows" data-toc-modified-id="Adding-Rows-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Adding Rows</a></span></li></ul></li><li><span><a href="#Adding-(and-Deleting)-Columns" data-toc-modified-id="Adding-(and-Deleting)-Columns-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Adding (and Deleting) Columns</a></span><ul class="toc-item"><li><span><a href="#DateTime-Data!" data-toc-modified-id="DateTime-Data!-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>DateTime Data!</a></span></li></ul></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#.loc" data-toc-modified-id=".loc-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.loc</code></a></span><ul class="toc-item"><li><span><a href="#Your-turn!" data-toc-modified-id="Your-turn!-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Your turn!</a></span><ul class="toc-item"><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-3.1.1.1"><span class="toc-item-num">3.1.1.1&nbsp;&nbsp;</span>Exercise 1</a></span></li><li><span><a href="#Exercise-2" data-toc-modified-id="Exercise-2-3.1.1.2"><span class="toc-item-num">3.1.1.2&nbsp;&nbsp;</span>Exercise 2</a></span></li></ul></li></ul></li><li><span><a href="#.iloc" data-toc-modified-id=".iloc-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.iloc</code></a></span></li></ul></li><li><span><a href="#Series-Methods" data-toc-modified-id="Series-Methods-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Series Methods</a></span><ul class="toc-item"><li><span><a href="#.value_counts()" data-toc-modified-id=".value_counts()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.value_counts()</code></a></span></li><li><span><a href="#.sort_values()" data-toc-modified-id=".sort_values()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>.sort_values()</code></a></span></li></ul></li><li><span><a href="#Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it." data-toc-modified-id="Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Extra Credit: Find a .csv file online and experiment with it.</a></span></li></ul></div>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [1]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [2]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
!ls data

2019_Census_US_Population_Data_By_State_Lat_Long.csv
Austin_Animal_Center_Intakes-clean-year.csv
Austin_Animal_Center_Intakes_022822.csv
Austin_Animal_Center_Outcomes_022822.csv
BankChurners.csv
Datafiniti_Fast_Food.csv
OpenFoodFacts.csv
bundesliga.csv
classic-rock-song-list.csv
ds_chars.csv
heart.csv
new_releases.json
plants.json
pop_soda_data.csv
preferences.csv
states.csv

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [4]:
# Let's check this variable out
df = pd.read_csv('data/heart.csv')

In [7]:
# What type is this variable?
type(df['age'])

pandas.core.series.Series

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [10]:
# Let's grab just one column
df['age']

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [11]:
# Grab the same column as an attribute
df.age

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [13]:
# What type is the column?
type(df['age'])

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [12]:
# Check out the dataframe index
# index is the row number

len(df['age'])

303

In [14]:
# Check out the series index
df.age.index

RangeIndex(start=0, stop=303, step=1)

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [15]:
# Check out the dataframe columns
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [16]:
# Now try with the series
df[['age']].columns

Index(['age'], dtype='object')

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [18]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [20]:
# Check out the dataframe values
df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [23]:
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### `.tail()` : last 5 rows

In [24]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### `.info()` : information about the columns, including about nulls in those columns

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.describe()` : statistics about the data

In [28]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### `.dtypes` : data types of each column

In [31]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### `.shape` : number of rows and columns

In [32]:
df.shape

(303, 14)

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [37]:
# Calculate the mean - for the whole dataframe!
df['age'].mean()

54.366336633663366

Let's pause and interpret - any observations?

-

In [39]:
# Now min
df.age.min()

29

In [38]:
# And max
df.age.max()

77

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [46]:
# Accessing a CSV from a url
intakes_url = pd.read_csv('Data/Austin_Animal_Center_Intakes-clean-year.csv')
intakes_url

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [47]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
intakes_url.shape

(136763, 12)

In [ ]:
# But this is only 1000 rows... website says there's 136K rows!

In [ ]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder

In [48]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
intakes_url.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [49]:
# Check the last 5 rows
intakes_url.tail()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [51]:
# Check the shape
intakes_url.shape

(136763, 12)

In [52]:
# Check the datatypes
intakes_url.info

<bound method DataFrame.info of        Animal ID     Name             DateTime  Year  \
0        A786884   *Brock  2019-01-03 16:19:00  2019
1        A706918    Belle  2015-07-05 12:59:00  2015
2        A724273  Runster  2016-04-14 18:43:00  2016
3        A665644      NaN  2013-10-21 07:59:00  2013
4        A682524      Rio  2014-06-29 10:38:00  2014
...          ...      ...                  ...   ...
136758   A852238  A852238  2022-02-28 14:02:00  2022
136759   A852221     Coco  2022-02-28 11:05:00  2022
136760   A851977    *Jack  2022-02-22 13:34:00  2022
136761   A852127    Sonic  2022-02-25 13:05:00  2022
136762   A852194    Queen  2022-02-27 13:44:00  2022

                                    Found Location Intake Type  \
0              2501 Magin Meadow Dr in Austin (TX)       Stray
1                 9409 Bluegrass Dr in Austin (TX)       Stray
2               2818 Palomino Trail in Austin (TX)       Stray
3                                      Austin (TX)       Stray
4                    800 Grove Blvd in Austin (TX)       Stray
...                                            ...         ...
136758  Cameron And Crosspark Drive in Austin (TX)       Stray
136759                   45 And 183 in Travis (TX)       Stray
136760        1200 Montopolis Drive in Austin (TX)       Stray
136761      7601 Daffan Ln Unit 424 in Austin (TX)       Stray
136762            8071 N Lamar Blvd in Austin (TX)       Stray

       Intake Condition Animal Type Sex upon Intake Age upon Intake  \
0                Normal         Dog   Neutered Male         2 years
1                Normal         Dog   Spayed Female         8 years
2                Normal         Dog     Intact Male       11 months
3                  Sick         Cat   Intact Female         4 weeks
4                Normal         Dog   Neutered Male         4 years
...                 ...         ...             ...             ...
136758           Normal         Dog   Intact Female        6 months
136759           Normal         Dog     Intact Male         3 years
136760           Normal         Dog     Intact Male         2 years
136761           Normal         Dog     Intact Male         2 years
136762           Normal         Dog   Intact Female        4 months

                                        Breed         Color
0                                  Beagle Mix      Tricolor
1                    English Springer Spaniel   White/Liver
2                                 Basenji Mix   Sable/White
3                      Domestic Shorthair Mix        Calico
4       Doberman Pinsch/Australian Cattle Dog      Tan/Gray
...                                       ...           ...
136758                 Labrador Retriever Mix   Black/White
136759                         Great Pyrenees         White
136760          Chihuahua Shorthair/Dachshund   Black/White
136761                           Pit Bull Mix  White/Yellow
136762                             Cane Corso    Blue Cream

[136763 rows x 12 columns]>

In [53]:
# Check more general information on the dataframe
intakes_url.dtypes

Animal ID           object
Name                object
DateTime            object
Year                 int64
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [55]:
# Check summary/descriptive statistics on the dataframe
intakes_url.describe()

                Year
count  136763.000000
mean     2017.100692
std         2.328994
min      2013.000000
25%      2015.000000
50%      2017.000000
75%      2019.000000
max      2022.000000

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [56]:
# Dictionary, where keys match the column names and values are the row values
next_row = {'Animal ID': 'A851755',
            'Name': "T'Challa",
            'DateTime': '2/28/2022 11:25:00 AM',
            'MonthYear': 'February 2022',
            'Found Location': 'Houston (TX)',
            'Intake Type': 'Public Assist',
            'Intake Condition': 'Normal',
            'Animal Type': 'Cat',
            'Sex upon Intake': 'Neutered Male',
            'Age upon Intake': '4 years',
            'Breed': 'Domestic Shorthair',
            'Color': 'Black'}
next_row

{'Animal ID': 'A851755',
 'Name': "T'Challa",
 'DateTime': '2/28/2022 11:25:00 AM',
 'MonthYear': 'February 2022',
 'Found Location': 'Houston (TX)',
 'Intake Type': 'Public Assist',
 'Intake Condition': 'Normal',
 'Animal Type': 'Cat',
 'Sex upon Intake': 'Neutered Male',
 'Age upon Intake': '4 years',
 'Breed': 'Domestic Shorthair',
 'Color': 'Black'}

How can we add this to the bottom of our dataset?

In [60]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new_animal = pd.DataFrame.from_dict(next_row, orient = 'index').T

In [73]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True
animals = pd.concat([intakes_url, new_animal])

In [ ]:
# Let's check the end to make sure we were successful!

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [74]:
# Create a new column, 'test', where every value in the col is 0
animals['test'] = 0

In [75]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,test
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,0
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,0
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,0
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,0
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,0
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,0
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,0
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,0
0,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,0

But we don't need that - let's drop that column.

In [80]:
# Drop that test column
animals.drop(columns = ['test'])

KeyError: "['test'] not found in axis"

In [ ]:
# Sanity check

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [86]:
# Create a new column, 'Type', from the two 'Type' columns
animals['type'] = animals['Intake Type'] + " " + animals['Animal Type']
animals['years_plus_five'] = animals['Year'] + 5

In [83]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,StrayDog
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,StrayDog
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,StrayDog
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,StrayCat
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,StrayDog
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,StrayDog
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,StrayDog
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,StrayDog
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,StrayDog
0,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public AssistCat

### DateTime Data!

Useful reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

I mentioned we don't have any numeric data in here... let's make a new numeric column! Specifically, let's grab the year from our `DateTime` column and use that to create a new `Year` column. AKA, let's learn how to deal with datetime data!

In [90]:
animals.dtypes

Animal ID                   object
Name                        object
DateTime                    object
Year                datetime64[ns]
Found Location              object
Intake Type                 object
Intake Condition            object
Animal Type                 object
Sex upon Intake             object
Age upon Intake             object
Breed                       object
Color                       object
MonthYear                   object
type                        object
years_plus_five            float64
dtype: object

In [89]:
# What type is the DateTime column now?
animals['Year'] = pd.to_datetime(animals['Year'])

In [ ]:
# Let's make that a datetime datatype

In [ ]:
# Sanity check

In [94]:
# Now we can access parts of a datetime object using .dt - an attribute!
animals['Year'].dt.dayofweek

0         3.0
1         3.0
2         3.0
3         3.0
4         3.0
         ...
136759    3.0
136760    3.0
136761    3.0
136762    3.0
0         NaN
Name: Year, Length: 136764, dtype: float64

In [95]:
# Make that into a new column
animals['day of week'] = animals['Year'].dt.dayofweek

In [96]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,years_plus_five,day of week
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,Stray Dog,2024.0,3.0
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,Stray Dog,2020.0,3.0
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog,2021.0,3.0
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat,2018.0,3.0
4,A682524,Rio,2014-06-29 10:38:00,1970-01-01 00:00:00.000002014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,Stray Dog,2019.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,Stray Dog,2027.0,3.0
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,Stray Dog,2027.0,3.0
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,Stray Dog,2027.0,3.0
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog,2027.0,3.0
0,A851755,T'Challa,2/28/2022 11:25:00 AM,NaT,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public Assist Cat,NaN,NaN

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [101]:
# Check which rows have an intake year greater than or equal to 2020
animals[animals['Intake Condition'] == 'Sick']

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,years_plus_five,day of week
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat,2018.0,3.0
38,A794334,Pearl,2019-09-02 11:52:00,1970-01-01 00:00:00.000002019,Outside Jurisdiction,Owner Surrender,Sick,Dog,Spayed Female,3 years,Boxer Mix,White,NaN,Owner Surrender Dog,2024.0,3.0
56,A736501,Travis,2016-10-11 16:43:00,1970-01-01 00:00:00.000002016,Austin (TX),Owner Surrender,Sick,Cat,Neutered Male,15 years,Domestic Shorthair Mix,Black,NaN,Owner Surrender Cat,2021.0,3.0
112,A729943,*Doug,2016-06-25 23:09:00,1970-01-01 00:00:00.000002016,2808 Harpers Ferry in Austin (TX),Stray,Sick,Cat,Intact Male,10 years,Domestic Shorthair Mix,Blue Tabby,NaN,Stray Cat,2021.0,3.0
128,A834412,Montie,2021-05-13 13:58:00,1970-01-01 00:00:00.000002021,1601 East Slaughter Lane in Austin (TX),Stray,Sick,Cat,Neutered Male,5 years,Domestic Shorthair,Brown Tabby,NaN,Stray Cat,2026.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136593,A852086,A852086,2022-02-24 13:52:00,1970-01-01 00:00:00.000002022,400 E 30Th Street in Austin (TX),Wildlife,Sick,Other,Unknown,2 years,Raccoon,Brown/Black,NaN,Wildlife Other,2027.0,3.0
136615,A852121,NaN,2022-02-25 11:01:00,1970-01-01 00:00:00.000002022,11717 Mcangus Road in Travis (TX),Stray,Sick,Dog,Intact Female,2 months,Pit Bull,White/Blue,NaN,Stray Dog,2027.0,3.0
136681,A852182,A852182,2022-02-27 08:05:00,1970-01-01 00:00:00.000002022,Target 2300 West Ben White Boulevard in Austin...,Stray,Sick,Cat,Intact Male,2 years,Domestic Medium Hair,Black,NaN,Stray Cat,2027.0,3.0
136705,A852205,NaN,2022-02-28 02:22:00,1970-01-01 00:00:00.000002022,9313 Anderson Mill Rd in Austin (TX),Wildlife,Sick,Other,Unknown,1 year,Raccoon,Black/Gray,NaN,Wildlife Other,2027.0,3.0
136730,A852207,NaN,2022-02-28 07:16:00,1970-01-01 00:00:00.000002022,4434 Frontier Trail in Austin (TX),Owner Surrender,Sick,Cat,Intact Male,2 weeks,Domestic Shorthair,Brown Tabby,NaN,Owner Surrender Cat,2027.0,3.0

In [105]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020
new_animals = animals[animals['Animal Type'] == 'Cat']

But this only gives us True/False outputs... what if we want to really filter?

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [ ]:
# Create a subset dataframe of animals taken in during or after 2020

In [ ]:
# Sanity check

We can return only certain columns when we do this, by adding an argument after the condition:

In [ ]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [107]:
# Find all the Stray Cats taken in during or after 2020
new_animals.info

<bound method DataFrame.info of        Animal ID      Name               DateTime  \
3        A665644       NaN    2013-10-21 07:59:00
7        A844350     *Ella    2021-10-15 11:40:00
9        A818975       NaN    2020-06-18 14:53:00
10       A774147       NaN    2018-06-11 07:45:00
11       A731435    *Casey    2016-08-08 17:52:00
...          ...       ...                    ...
136754   A852234       NaN    2022-02-28 12:33:00
136755   A852228      Maxi    2022-02-28 12:13:00
136756   A852227   Georgia    2022-02-28 12:13:00
136757   A852216       NaN    2022-02-28 10:50:00
0        A851755  T'Challa  2/28/2022 11:25:00 AM

                                Year  \
3      1970-01-01 00:00:00.000002013
7      1970-01-01 00:00:00.000002021
9      1970-01-01 00:00:00.000002020
10     1970-01-01 00:00:00.000002018
11     1970-01-01 00:00:00.000002016
...                              ...
136754 1970-01-01 00:00:00.000002022
136755 1970-01-01 00:00:00.000002022
136756 1970-01-01 00:00:00.000002022
136757 1970-01-01 00:00:00.000002022
0                                NaT

                                       Found Location      Intake Type  \
3                                         Austin (TX)            Stray
7       2112 East William Cannon Drive in Austin (TX)            Stray
9               Braker Lane And Metric in Travis (TX)            Stray
10                      6600 Elm Creek in Austin (TX)            Stray
11                                        Austin (TX)  Owner Surrender
...                                               ...              ...
136754                 305 E Lola Lane in Austin (TX)            Stray
136755                                    Travis (TX)  Owner Surrender
136756                                    Travis (TX)  Owner Surrender
136757                           Outside Jurisdiction            Stray
0                                        Houston (TX)    Public Assist

       Intake Condition Animal Type Sex upon Intake Age upon Intake  \
3                  Sick         Cat   Intact Female         4 weeks
7                Normal         Cat   Intact Female        6 months
9                Normal         Cat     Intact Male         4 weeks
10              Injured         Cat   Intact Female         4 weeks
11               Normal         Cat   Neutered Male        5 months
...                 ...         ...             ...             ...
136754          Injured         Cat   Intact Female         2 years
136755           Normal         Cat   Intact Female        3 months
136756           Normal         Cat   Intact Female        3 months
136757           Normal         Cat   Intact Female        6 months
0                Normal         Cat   Neutered Male         4 years

                         Breed        Color      MonthYear  \
3       Domestic Shorthair Mix       Calico            NaN
7           Domestic Shorthair  Brown Tabby            NaN
9           Domestic Shorthair  Cream Tabby            NaN
10      Domestic Shorthair Mix  Black/White            NaN
11      Domestic Shorthair Mix  Cream Tabby            NaN
...                        ...          ...            ...
136754      Domestic Shorthair       Calico            NaN
136755  Domestic Shorthair Mix  Brown Tabby            NaN
136756  Domestic Shorthair Mix        Black            NaN
136757      Domestic Shorthair  Black/White            NaN
0           Domestic Shorthair        Black  February 2022

                       type  years_plus_five  day of week
3                 Stray Cat           2018.0          3.0
7                 Stray Cat           2026.0          3.0
9                 Stray Cat           2025.0          3.0
10                Stray Cat           2023.0          3.0
11      Owner Surrender Cat           2021.0          3.0
...                     ...              ...          ...
136754            Stray Cat           2027.0          3.0
136755  Owner Surrender Cat           2027.0          3.0
136756  Owner Surrender Cat           2027.0          3.0
136757            Stray Cat           2027.0          3.0
0         Public Assist Cat              NaN          NaN

[51753 rows x 16 columns]>

### Your turn!

#### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [113]:
# Your code here
not_norm_dogs = animals.loc[(animals['Intake Condition'] != 'Normal') & (animals['Animal Type'] == 'Dog')]
not_norm_dogs

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,years_plus_five,day of week
24,A836850,NaN,2021-06-15 12:37:00,1970-01-01 00:00:00.000002021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White,NaN,Public Assist Dog,2026.0,3.0
38,A794334,Pearl,2019-09-02 11:52:00,1970-01-01 00:00:00.000002019,Outside Jurisdiction,Owner Surrender,Sick,Dog,Spayed Female,3 years,Boxer Mix,White,NaN,Owner Surrender Dog,2024.0,3.0
40,A732903,*Raven,2016-08-14 15:02:00,1970-01-01 00:00:00.000002016,Austin (TX),Stray,Injured,Dog,Intact Female,2 months,Labrador Retriever Mix,Black/White,NaN,Stray Dog,2021.0,3.0
91,A683884,Blackie,2014-07-16 15:52:00,1970-01-01 00:00:00.000002014,7619 E Ben White Blvd in Austin (TX),Stray,Injured,Dog,Neutered Male,2 years,German Shepherd Mix,Black/Tan,NaN,Stray Dog,2019.0,3.0
134,A818382,Cookie,2020-06-08 08:35:00,1970-01-01 00:00:00.000002020,4434 Frontier Trail in Austin (TX),Owner Surrender,Sick,Dog,Intact Male,1 month,Boxer,Brown/Black,NaN,Owner Surrender Dog,2025.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136723,A852080,*Marshmallow Fluff,2022-02-24 13:29:00,1970-01-01 00:00:00.000002022,6911 Bennett Ave in Austin (TX),Stray,Injured,Dog,Intact Female,10 months,German Shepherd Mix,Buff/Tan,NaN,Stray Dog,2027.0,3.0
136724,A852083,*Honey,2022-02-24 13:29:00,1970-01-01 00:00:00.000002022,6911 Bennett Ave in Austin (TX),Stray,Injured,Dog,Intact Female,2 months,Labrador Retriever Mix,Black/White,NaN,Stray Dog,2027.0,3.0
136726,A852085,*Treacle,2022-02-24 13:29:00,1970-01-01 00:00:00.000002022,6911 Bennett Ave in Austin (TX),Stray,Injured,Dog,Intact Female,2 months,Labrador Retriever,Brown/White,NaN,Stray Dog,2027.0,3.0
136728,A852084,*Maple Syrup,2022-02-24 13:29:00,1970-01-01 00:00:00.000002022,6911 Bennett Ave in Austin (TX),Stray,Injured,Dog,Intact Female,2 months,Labrador Retriever Mix,Black/White,NaN,Stray Dog,2027.0,3.0
136742,A850725,Monty,2022-01-30 14:32:00,1970-01-01 00:00:00.000002022,14100 Thermal Dr in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Labrador Retriever,Black/White,NaN,Stray Dog,2027.0,3.0

#### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [114]:
# Your code here
intact = animals.loc[(animals['Sex upon Intake'] == 'Intact Male') | (animals['Sex upon Intake'] == 'Intact Female')]
intact

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,years_plus_five,day of week
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog,2021.0,3.0
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat,2018.0,3.0
7,A844350,*Ella,2021-10-15 11:40:00,1970-01-01 00:00:00.000002021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaN,Stray Cat,2026.0,3.0
8,A708452,Mumble,2015-07-30 14:37:00,1970-01-01 00:00:00.000002015,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/White,NaN,Public Assist Dog,2020.0,3.0
9,A818975,NaN,2020-06-18 14:53:00,1970-01-01 00:00:00.000002020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaN,Stray Cat,2025.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,1970-01-01 00:00:00.000002022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White,NaN,Stray Dog,2027.0,3.0
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,Stray Dog,2027.0,3.0
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,Stray Dog,2027.0,3.0
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,Stray Dog,2027.0,3.0
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog,2027.0,3.0

## `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [118]:
# Find the first 3 rows
animals.iloc[:5,15:18]

   day of week
0          3.0
1          3.0
2          3.0
3          3.0
4          3.0

In [119]:
# Same as using head(3)
animals.iloc[:3]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,years_plus_five,day of week
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,Stray Dog,2024.0,3.0
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,Stray Dog,2020.0,3.0
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog,2021.0,3.0

In [120]:
# Can look exactly where the 0 index is
animals.iloc[0,:]

Animal ID                                       A786884
Name                                             *Brock
DateTime                            2019-01-03 16:19:00
Year                      1970-01-01 00:00:00.000002019
Found Location      2501 Magin Meadow Dr in Austin (TX)
Intake Type                                       Stray
Intake Condition                                 Normal
Animal Type                                         Dog
Sex upon Intake                           Neutered Male
Age upon Intake                                 2 years
Breed                                        Beagle Mix
Color                                          Tricolor
MonthYear                                           NaN
type                                          Stray Dog
years_plus_five                                    2024
day of week                                           3
Name: 0, dtype: object

In [121]:
# But what about our subset dataframe above? It doesn't have an index 0
new_animals.iloc[0,:]

Animal ID                                 A665644
Name                                          NaN
DateTime                      2013-10-21 07:59:00
Year                1970-01-01 00:00:00.000002013
Found Location                        Austin (TX)
Intake Type                                 Stray
Intake Condition                             Sick
Animal Type                                   Cat
Sex upon Intake                     Intact Female
Age upon Intake                           4 weeks
Breed                      Domestic Shorthair Mix
Color                                      Calico
MonthYear                                     NaN
type                                    Stray Cat
years_plus_five                              2018
day of week                                     3
Name: 3, dtype: object

In [ ]:
# Try it...

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [125]:
# Check the value counts for Animal Type
animals['Animal Type'].value_counts()

Dog          77098
Cat          51753
Other         7253
Bird           636
Livestock       24
Name: Animal Type, dtype: int64

In [128]:
# Now check Breed
animals.loc[animals['Animal Type'] == 'Cat']['Breed'].value_counts(normalize = True)

Domestic Shorthair Mix                      0.618979
Domestic Shorthair                          0.201747
Domestic Medium Hair Mix                    0.062122
Domestic Longhair Mix                       0.030530
Siamese Mix                                 0.025989
                                              ...
American Wirehair Mix                       0.000019
Japanese Bobtail/American Curl Shorthair    0.000019
Domestic Shorthair/Domestic Medium Hair     0.000019
Siamese/Angora                              0.000019
Snowshoe/Domestic Shorthair                 0.000019
Name: Breed, Length: 103, dtype: float64

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [ ]:
# Use the normalize argument to view as percentages

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [132]:
# Let's sort the year column
animals.sort_values(by = 'Year', ascending = False)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,years_plus_five,day of week
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog,2027.0,3.0
135587,A849913,*Lizzy,2022-01-15 10:44:00,1970-01-01 00:00:00.000002022,7405 Grenadine Bloom Bend in Travis (TX),Stray,Normal,Dog,Intact Female,4 years,American Foxhound,Red/White,NaN,Stray Dog,2027.0,3.0
135572,A850499,Reeses,2022-01-25 16:29:00,1970-01-01 00:00:00.000002022,14200 North Ih 35 in Austin (TX),Stray,Normal,Dog,Spayed Female,2 years,Australian Cattle Dog Mix,Black/Brown,NaN,Stray Dog,2027.0,3.0
135573,A850241,*Raven,2022-01-20 17:46:00,1970-01-01 00:00:00.000002022,7810 Old Bee Caves Road in Austin (TX),Stray,Injured,Dog,Intact Female,4 months,Labrador Retriever,Black/White,NaN,Stray Dog,2027.0,3.0
135575,A850500,Bear,2022-01-25 16:29:00,1970-01-01 00:00:00.000002022,14200 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Male,9 months,Labrador Retriever Mix,Black/White,NaN,Stray Dog,2027.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90281,A667998,*Ginger,2013-11-26 12:10:00,1970-01-01 00:00:00.000002013,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,4 years,Pit Bull Mix,Brown/White,NaN,Owner Surrender Dog,2018.0,3.0
49519,A669182,Hunter,2013-12-16 16:24:00,1970-01-01 00:00:00.000002013,Pflugerville (TX),Owner Surrender,Normal,Dog,Intact Male,1 month,Labrador Retriever Mix,White,NaN,Owner Surrender Dog,2018.0,3.0
80137,A666629,*Lambchop,2013-11-04 18:44:00,1970-01-01 00:00:00.000002013,21906 Silvia Dr in Travis (TX),Stray,Normal,Dog,Intact Male,2 years,Australian Cattle Dog Mix,Brown Brindle/White,NaN,Stray Dog,2018.0,3.0
113072,A653346,NaN,2013-10-24 13:17:00,1970-01-01 00:00:00.000002013,13512 Mizzen in Manor (TX),Stray,Normal,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Tortie,NaN,Stray Cat,2018.0,3.0
0,A851755,T'Challa,2/28/2022 11:25:00 AM,NaT,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public Assist Cat,NaN,NaN

In [ ]:
# Now, sort the Animal Type col

In [ ]:
# We can do this on the whole dataframe, it just needs to know what to sort by

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.